
.customize-partial-edit-shortcut-production_slider_content{
    top: 50%;
    left: 70%;
}
.customize-partial-edit-shortcut-footer_bg_img{
	top: 70%;
	left:70%;
}
.customize-partial-edit-shortcut-header_image{
	top: 30%;
	left:70%;
}