
.customize-partial-edit-shortcut-agridrive_slider_content{
    top: 30%;
    left: 90%;
}
.customize-partial-edit-shortcut-statsbg_img_upload{
	left:90%;
}
.customize-partial-edit-shortcut-header_image{
	top: 30%;
	left:90%;
}
.customize-partial-edit-shortcut-custom_header{
	top: 30%;
	left:95%;
}
.customize-partial-edit-shortcut-why_agridrive_content{
	left:90%;
}
.customize-partial-edit-shortcut-divider_img_upload{
	left:90%;
}
