
.customize-partial-edit-shortcut-production_slider_content{
    top: 30%;
    left: 90%;
}
.customize-partial-edit-shortcut-footer_bg_img{
	top: 70%;
	left:90%;
}
.customize-partial-edit-shortcut-header_image{
	top: 30%;
	left:90%;
}
.customize-partial-edit-shortcut-custom_header{
	top: 30%;
	left:95%;
}
.customize-partial-edit-shortcut-latestnews_category_posts{
	top: 20%;
	left:20%;
}
.customize-partial-edit-shortcut-divider_img_upload{
	left:90%;
}
