.header-text{
  left:0px;
  width:480px;
  height:200px;
  opacity:0.6;
  background-color:#790908;
  color:#ffffff;
}

.logo-img{
  width:100px;
}

.navbar-default{
  background:#2d2924;
  opacity:0.7;
  border-width:0px;
  border-radius:0px;
  border-color:transparent;
}

.menu{
  padding-top:60px;
  margin-left:70px;
}

.logo-img{
  float:left;
}

.navbar{
  margin-left:120px;
  height:50px;
}

.nav > li{
  text-transform:uppercase;
}

.welcome{
  width:100%;
  text-align:center;
  height:auto;
  padding-top:20px;
  padding-bottom:20px;
}

.heading2{
  font-weight:700;
  margin-top:0px;
}

.heading1{
  margin-bottom:0px;
}

.navbar-default .navbar-nav > li > a.text-info{
  color:white;
  font-weight:bold;
  background-color:transparent;
  border-right:3px solid;
  height:17px;
  margin-top:20px;
  padding-top:0px;
  padding-left:35px;
  padding-right:35px;
}

.navbar-default .navbar-nav > li .active > a.text-info{
  background-color:transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  color:#ffffff;
  font-weight:bolder;
  background-color:transparent;
}

.releases{
  text-align:center;
}

.heading{
  font-weight:700;
  color:#790908;
  display:inline;
  padding-left:10px;
}

.heading-icon{
  display:inline;
  width:50px;
}

.heading-helper{
  margin-top:30px;
  margin-bottom:20px;
}

.project-heading{
  font-weight:700;
  margin-bottom:0px;
}

.projects-txt{
  color:#790908;
}

see-more{
  text-align:center;
  padding-top:30px;
}

.more{
  width:250px;
  height:30px;
  color:#790908;
  border:2px solid;
  padding-top:0px;
  background-color:#ffffff;
}

.latest-news{
  text-align:center;
  margin-bottom:30px;
}

.news-heading{
  font-weight:700;
  color:#fb7d7d;
}

.news-txt{
  color:#ffffff;
}

.news-content{
  padding-left:30px;
  margin-top:100px;
  width:200px;
}

.news{
  margin-left:auto;
  margin-right:auto;
}

.footer-content{
  background-color:#790908;
  min-height:300px;
  opacity:.7;
}

footer{
  background-image:url(../../assets/img/footer-bg-img.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

.footer-bg{
  padding:0px;
  margin-top:20px;
  margin-left:0px;
  margin-right:0px;
}

.footer-text{
  font-family:roboto;
  font-weight:bold;
  margin-top:50px;
  padding-left:150px;
  color:#ffffff;
}

hr{
  height:.25rem;
  border-color:#cc0402;
  border-width:2px;
  max-width:1200px;
}

.nav-wrapper{
  width:100%;
  position:absolute;
  z-index:10;
}

.mast-head{
  margin-bottom:10px;
  height:516px;
  background-image:url(../../assets/img/shutterstock_50882653.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

.carousel-indicators li{
  background-color:#303030;
}

.slider-img{
  width:100%;
  height:580px;
}

.foot-cover{
  padding:0px;
  width:100%;
  height:100%;
  margin-left:0px;
  margin-right:0px;
}

.news-img-container1{
  padding-left:0px;
  height:256px;
}

.news-img-container2{
  padding-left:5px;
  padding-right:0px;
}

.location-img{
  display:inline;
  margin-left:-50px;
  float:left;
  width:40px;
}

.location-txt{
}

body{
  font-family:'Open Sans', sans-serif;
  font-size:1.5em;
}

.carousel-caption{
  left:0px;
  z-index:10;
  padding-left:20px;
  text-align:left;
  padding-top:20px;
  padding-bottom:20px;
  color:#fff;
  text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.divider-img{
  background-image:url(../../assets/img/production-template-welcome-section.png);
  height:179px;
}

.news-img{
  position:absolute;
  z-index:-22;
  max-height:256px;
  padding-left:5px;
  padding-right:5px;
}

.feat-img{
  height:100%;
  width:100%;
}

.news-helper{
  padding-left:0px;
  padding-right:0px;
}

.secondary.prev{
  margin-top:2px;
  margin-bottom:5px;
  margin-right:2px;
  border-radius:0px;
}

.secondary.next{
  margin-top:2px;
  margin-bottom:5px;
  margin-left:2px;
  border-radius:0px;
}

.glyphicon{
  color:#cc0402;
}

